* {
    box-sizing: border-box;
}

body {
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    height: 16vh;
    min-height: 150px;
    background: #7d9b79 url("../img/green-fibers.png") repeat;
    margin: -8px;
    color: #fff;
}

header h1, #main-navbar {
    text-align: center;
}

header h1 {
    width: 500px;
    margin: 0 auto;
    padding-top: 35px;
    font-size: 50px;
}

header a, a:visited {
    text-decoration: none;
    color: #fff;
}

#main-navbar {
    position: absolute;
    bottom: -22.5px;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 45px;
    background-color: rgb(62, 114, 98);
    margin: 0 auto;
    border-radius: 3px;
}

#main-navbar ul {
    width: 100%;
    height: 100%;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    padding: 15px 10px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -1px;
    width: 120px;
    background-color: rgba(62, 114, 98, .8);
    margin-top: 11px;
    text-align: left;
    font-size: 1.2rem;
}

.dropdown-content ul {  
    padding: 0;
}

.dropdown-content li {
    display: block;
    opacity: 1;
    margin: 0;
    padding: 8px 5px;
    border-bottom: 1px solid #fff;
}

#main-navbar li:hover, .dropdown-content li:hover {
    cursor: pointer;
}

#main-navbar li:hover {
    background-color: rgb(33, 68, 57);
}

#main-navbar ul li:hover .dropdown-content {
    display: block;
}